<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
</head>

<body>
	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
</body>
<script>
    var data = [{
      type:'scattermapbox',
      lat:['45.5017'],
      lon:['-73.5673'],
      mode:'markers',
      marker: {
        size:14
      },
      text:['Montreal']
    }]

    var layout = {
      autosize: true,
      hovermode:'closest',
      mapbox: {
        bearing:0,
        center: {
          lat:45,
          lon:-73
        },
        pitch:0,
        zoom:5
      },
    }

    Plotly.setPlotConfig({
      mapboxAccessToken: "your access token"
    })

    Plotly.newPlot('myDiv', data, layout)
</script>
